<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>770453265095-fghb40hprjq9prkvc0cocjtqo8h4cr2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770453265095-fghb40hprjq9prkvc0cocjtqo8h4cr2o</string>
	<key>API_KEY</key>
	<string>AIzaSyBSK5ZWAQviPmgLgg1YKELD4MixdwBb8fY</string>
	<key>GCM_SENDER_ID</key>
	<string>770453265095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.chidiemeh184.Newspaper</string>
	<key>PROJECT_ID</key>
	<string>newspaper-3c853</string>
	<key>STORAGE_BUCKET</key>
	<string>newspaper-3c853.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:770453265095:ios:f32cca6e5a29b988</string>
	<key>DATABASE_URL</key>
	<string>https://newspaper-3c853.firebaseio.com</string>
</dict>
</plist>